{% extends "base.html.twig" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Accueil{% endblock %} - ParaDocs</title>

    <!--CSS-->
    {% block css %}
    <link rel="stylesheet" href="{{ asset('assets/CSS/navbar.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/style_m_d.css')}}">
    {% endblock %}

    <!--JS-->
    {% block javascripts %}
    <script src="{{ asset('assets/Js/modif_data.js') }}" defer></script>
    {% endblock %}

{% endblock %}


{% block body %}

    <header>
    {% include "_partials/_navbar.html.twig" %}
    </header>

    <main>
        <h2 class="titre">Modifier la base de données</h2>
        <div class="tab-question">
            <div class="entete">
                <details>
                    <summary>Chapitre :</summary>
                        <fieldset>
                            <ul>
                                <li><input type="checkbox"><label>auto</label></li>
                                <li><input type="checkbox"><label>auto</label></li>
                            </ul>
                        </fieldset>
                </details>
                <details>
                    <summary>Thème :</summary>
                        <fieldset>
                            <ul>
                                <li><input type="checkbox"><label>auto</label></li>
                                <li><input type="checkbox"><label>auto</label></li>
                            </ul>
                        </fieldset>
                </details>
                <details>
                    <summary>Type :</summary>
                        <fieldset>
                            <ul>
                                <li><input type="checkbox"><label>auto</label></li>
                                <li><input type="checkbox"><label>auto</label></li>
                            </ul>
                        </fieldset>
                </details>
                <details>
                    <summary>Difficulté :</summary>
                        <fieldset>
                            <ul>
                                <li><input type="checkbox"><label>auto</label></li>
                                <li><input type="checkbox"><label>auto</label></li>
                            </ul>
                        </fieldset>
                </details>
                <div class="search-button">
                    <input type="search" id="site-search" placeholder="Rechercher par mot..." />
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </div>
                <button class="rempli">Filtrer</button>
                <button class="rempli">Ajouter une question</button>
            </div>
                

            <div class="contenu">
                <ul class="list-item">
                    <a class="question-card" id="myBtn">
                        <li>
                            <p class="enonce-question">Qu’est ce qui permet au bases de données d’etres utilisé de facon proéminantes par les industriels de nos jours? en sachant qu’elles sont utilisées par IKEA, Zara, Super U et ...</p>
                            <div class="param-question">
                                <div class="type">
                                    <p class="nom">Type :</p>
                                    <p class="contenu-nom">QCM</p>
                                </div>

                                <div class="diff">
                                    <p class="nom">Difficulté :</p>
                                    <p class="contenu-nom">3</p>
                                </div>
                            </div>
                            <div class="param-question">
                                <div class="chapitre">
                                    <p class="nom">Chapitre :</p>
                                    <p class="contenu-nom">qsdfghjklkjhgfdsqSDFGHJJHGFDSQSD</p>
                                </div>
                                <div class="theme">
                                    <p class="nom">Thème :</p>
                                    <p class="contenu-nom">qzsfdghjkimgyeqezqfwdgbyj</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    {% for q in question %}
                        {% if q.IsActive == 1 %}
                            <a class="question-card" href="{{ path('questions_list', {id: q.id}) }}">
                                <li>
                                    <p class="enonce-question">{{ q.enonce }}</p>
                                    <div class="param-question">
                                        <div class="type">
                                            <p class="nom">Type :</p>
                                            <p class="contenu-nom">{{ q.TypeQuestion.libelle }}</p>
                                        </div>

                                        <div class="diff">
                                            <p class="nom">Difficulté :</p>
                                            <p class="contenu-nom">{{ q.difficulte.libelle }}</p>
                                        </div>
                                    </div>
                                    <div class="param-question">
                                        <div class="chapitre">
                                            <p class="nom">Chapitre :</p>
                                            <p class="contenu-nom">{{ q.Chapitre.contenu }}</p>
                                        </div>
                                        <div class="theme">
                                            <p class="nom">Thème :</p>
                                            <p class="contenu-nom">{{ q.Chapitre.Theme.contenu }}</p>
                                        </div>
                                    </div>
                                </li>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>    
    </main>

    
    <footer>
    {% include "_partials/_footer.html.twig" %}
    </footer>
{% endblock %}