{% extends "base.html.twig" %}


{% block head %}

    <meta charset="UTF-8">

    <title>ParaDocs</title>

    <!--CSS-->
    {% block css %}
        <link rel="stylesheet" href="{{ asset('assets/CSS/navbar.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/CSS/profil.css')}}">
    {% endblock %}

{% endblock %}

{% block body %}
    
    <header>
    {% include "_partials/_navbar.html.twig" %}
    </header>
    
    <main>
        <h2>Profil</h2>
        <div class="contenu">
            <div class="zone-texte">
                <div class="cote-a-cote">
                    <div class="texte">
                        <p>Nom :</p>
                        <input type="text" value="{{ user.nom }}" readonly>
                    </div>
                    <div class="texte">
                        <p>Prénom :</p>
                        <input type="text" value="{{ user.prenom }}" readonly>
                    </div>
                </div>
                <div class="texte">
                    <p>Adresse mail :</p>
                    <input type="text" value="{{ user.email }}" readonly>
                </div>
                <div class="texte">
                    <p>Mot de passe :</p>
                    <form id="password-form" action="{{ path('update_password') }}" method="post">
                        <div class="password-container">
                            <input type="password" id="new-password" name="new_password" placeholder="Nouveau mot de passe" class="password-input">
                            <br><br>
                            <button type="submit" class="rempli">Changer le mot de passe</button>
                        </div>
                    </form>
                </div>
                <div class="cote-a-cote">
                    <div class="texte">
                        <p>Nombre d'évaluations créées :</p>
                        <button>{{ user.nbEval }}</button>
                    </div>
                    <div class="texte">
                        <p>Nombre de questions créées :</p>
                        <button>{{ user.nbQuestions }}</button>
                    </div>
                </div>
            </div>
            <div class="photo-profil">
                <div class="centrer">
                    {% if user.photo %}
                        <img src="{{ asset('uploads/photos/' ~ user.photo) }}" class="pdp">
                    {% else %}
                        <img src="{{ asset('uploads/photos/pier.png') }}" class="pdp">
                    {% endif %}
                </div>
                <div class="centrer"><h3>{{ user.prenom }} {{ user.nom }}</h3></div>
                <div class="centrer">
                    <form id="photo-form" action="{{ path('update_profile_photo') }}" method="post" enctype="multipart/form-data">
                        <button type="button" class="rempli" id="photo-trigger">Changer la photo de profil</button>
                        <div style="width:0; height:0; overflow:hidden; visibility:hidden; position:absolute;">
                            <input type="file" id="photo-input" name="photo" accept="image/*">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/profil.js') }}"></script>
{% endblock %}
