{% extends "base.html.twig" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Accueil{% endblock %} - ParaDocs</title>

    <!--CSS-->
    {% block css %}
    <link rel="stylesheet" href="{{ asset('assets/CSS/navbar.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/style_m_d.css')}}">
    {% endblock %}

    <!--JS-->
    {% block javascripts %}
    <script src="{{ asset('assets/Js/modif_data.js') }}" defer></script>
    {% endblock %}

{% endblock %}


{% block body %}

    <header>
    {% include "_partials/_navbar.html.twig" %}
    </header>

    <main>
        <div class="modal-content">
            <span class="close-mine">&times;</span>
            <h3>Modifier la question</h3>

            <div class="info-question">
                <div class="info" id="type">
                    <p class="element">Type :</p>
                    <select name="type">
                        {% for t in type %}
                            <option value="{{t.libelle}}"   
                            {% if question.TypeQuestion.id == t.id %}
                                selected
                            {% endif %}     
                            >{{t.libelle}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="info" id="chapitre">
                    <p class="element">Thèmes :</p>
                    <div class="choix-chap-them">
                        <ul class="list-chap-them">
                            {% for th in theme %}
                                <li>
                                    <input type="checkbox" 
                                    {% if question.Chapitre.Theme.id == th.id %}
                                        checked
                                    {% endif %}
                                    >
                                    <p>{{ th.contenu }}</p>
                                </li>
                                
                            {% endfor %}
                        </ul>   
                    </div>
                </div>
                <div class="info" id="theme">
                    <p class="element">Chapitre :</p>
                    <div class="choix-chap-them">
                        <ul class="list-chap-them">
                            {% for c in chapitre %}
                                <li>
                                    <input type="checkbox" 
                                    {% if question.Chapitre.id == c.id %}
                                        checked
                                    {% endif %}
                                    >
                                    <p>{{ c.contenu }}</p>
                                </li>
                                
                            {% endfor %}  
                        </ul>    
                    </div>
                </div>
                <div class="info" id="enonce">
                    <p class="element">Enoncé</p>
                    <textarea placeholder="Ajoutez un texte..." class="enonce"> {{ question.enonce }}</textarea>
                </div>
                <div class="info" id="reponses">
                    <p class="element">Réponses :</p>
                    <textarea placeholder="Ajoutez un texte..." class="reponses"></textarea>
                    <textarea placeholder="Ajoutez un texte..." class="reponses"></textarea>
                    <button class="bouton-vide">Ajouter une réponse</button>
                </div>
                <div class="info" id="difficulte">
                    <p class="element">Difficulté :</p>
                    <select name="type">
                        {% for d in difficulte %}
                            <option value="{{d.libelle}}"   
                            {% if question.Difficulte.id == d.id %}
                                selected
                            {% endif %}     
                            >{{d.libelle}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="info" id="image-question">
                    <button class="bouton-vide">Ajouter une image</button>
                </div>
                <div class="sauv-suppr">
                    <button class="rempli-c">Sauvegarder</button>
                    <button class="suppr">Supprimer la question(désactiver)</button>
                </div>
                
            </div>
        </div>
    </main>

{% endblock %}